@model Test.Models.Usuario

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Admin.cshtml";
}

<h2>Edit</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Usuario</legend>

        

        <div class="editor-label">
            @Html.LabelFor(model => model.nombre)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.nombre, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.nombre)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.usuario1)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.usuario1, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.usuario1)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.contrasena)
        </div>
        <div class="editor-field">
            @Html.PasswordFor(model => model.contrasena, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.contrasena)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.perfil)
        </div>
        <div class="editor-field">
            @Html.DropDownListFor(model => model.Perfil1, new SelectList(ViewBag.Perfil, "IdPerfil", "descripcion"), new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.perfil)
        </div>

        <div class="form-group"></div>

        <div class="row">
            <div class="col-lg-4 col-lg-offset-0">
                <p>
                    <input type="submit" class="btn btn-lg btn-primary" value="Save" />
                </p>
            </div>
        </div>
    </fieldset>
}

<div>
    <a href="/Usuario" class="btn btn-lg btn-primary ">Back to list</a>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
