@using PagedList;
@using PagedList.Mvc;
@model IPagedList<Test.Models.Evento>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Admin.cshtml";
}

<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">
            Eventos
        </h1>
        <ol class="breadcrumb">
            <li>
                <i class="fa fa-dashboard"></i><a href="#">Panel Administracion</a>
            </li>
            <li class="active">
                <i class="fa fa-user"></i> Eventos
            </li>
        </ol>
    </div>
</div>
<div class="row">
    <div class="col-lg-4 col-lg-offset-0">
        <p><a href="/Evento/create" class="btn btn-lg btn-info btn-block">Crear Nuevo</a></p>
    </div>
</div>
<div class="table-responsive">
    <table class="table table-bordered table-hover">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.First().idEvento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().fecha)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().nombre)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.idEvento)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.fecha)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.nombre)
                </td>
                <td>
                    <i class="fa fa-edit"></i><a href="/Evento/Edit/@item.idEvento">Edit</a>  |
                    <i class="fa fa-list-alt"></i><a href="/Evento/Details/@item.idEvento">Details</a> |
                    <i class="fa fa-trash"></i><a href="/Evento/Delete/@item.idEvento">Delete</a>
                </td>
            </tr>
        }

    </table>
</div>
<div class="row">
    <div class="col-lg-6 col-lg-offset-4">
        @Html.PagedListPager(Model, page => Url.Action("Index", new { page }))
    </div>
</div>




