@model Test.Models.Miembro

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Admin.cshtml";
}

<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">
            Miembros
        </h1>
        <ol class="breadcrumb">
            <li>
                <i class="fa fa-dashboard"></i><a href="#">Panel Administracion</a>
            </li>
            <li class="active">
                <i class="fa fa-user"></i> Miembros
            </li>
            <li class="active">
                <i class="fa fa-pencil"></i> Delete
            </li>
        </ol>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <h3>Are you sure you want to delete this?</h3>
        <fieldset>
            <legend>Miembro</legend>

            <div class="display-label">
                @Html.DisplayNameFor(model => model.idMiembro)
            </div>
            <div class="display-field">
                @Html.DisplayFor(model => model.idMiembro)
            </div>

            <div class="display-label">
                @Html.DisplayNameFor(model => model.nombre)
            </div>
            <div class="display-field">
                @Html.DisplayFor(model => model.nombre)
            </div>

            <div class="display-label">
                @Html.DisplayNameFor(model => model.numeroCedula)
            </div>
            <div class="display-field">
                @Html.DisplayFor(model => model.numeroCedula)
            </div>

            <div class="display-label">
                @Html.DisplayNameFor(model => model.correo)
            </div>
            <div class="display-field">
                @Html.DisplayFor(model => model.correo)
            </div>

            <div class="display-label">
                @Html.DisplayNameFor(model => model.telefono)
            </div>
            <div class="display-field">
                @Html.DisplayFor(model => model.telefono)
            </div>

            <div class="display-label">
                @Html.DisplayNameFor(model => model.Estado)
            </div>
            <div class="display-field">
                @Html.DisplayFor(model => model.Estado1.descripcion)
            </div>

            


        </fieldset>
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            <p>
                <input type="submit" class="btn btn-lg btn-primary value=" delete" /> |
                <a href="/Miembro" class="btn btn-lg btn-primary ">Back to list</a>
            </p>
        }

    </div>
</div>



